<div class="container">
  <h2>Hello <%=@user.name %>, glad to have you back!</h2>

  <form method='post' action='/usr/round'>
    <select name='deck'\>
      <% @user.decks.each do |deck| %>
      <option value="<%=deck.id%>"><%=deck.name%></option>
      <% end %>
    </select>
    <input type="submit" value="new round">
  </form>


<!-- don't have to worry about a new deck right now -->

  <form method='get' action='/usr/new_deck'>
    <input type="submit" value="new deck">
  </form>
</div>