.container {
  margin: 128px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

.body {
    margin: 0;
    font-family: Arial;
}

.top-nav {
    position: fixed;
    background: black;
    color: white;
    width: 100%;
    top: 0;
    height: 64px;
}

.top-nav h1 {
    font-size: 32px;
    float: left;
    margin: 0;
    line-height: 2em;
}

ul.nav a {
    color: white;
    text-decoration: none;
}

ul.nav {
    list-style: none;
    float: right;
}

ul.nav li {
    display: inline;
    padding-right: 20px;
    line-height: 2.5em;
}

.content {
    margin-top: 70px;
}

.error {
    color: red;
}


/* TABBED STYLING FOR STATS PAGE */

#usrpage {
    border: none;
}

.tab {
    display: none;
}
.tabs {
    float: left;
    border-bottom: 1px solid #ccc;
    width: 100%;
    margin-bottom: 16px;
    list-style: none;
}
.tabs li {
    float: left;
    margin-right: 16px;
    padding: 10px 15px;
    height: 30px;
    line-height: 30px;
}
.tabs li a {
    color: #666;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
}

.tabs li.active {
    border: 1px solid #ccc;
    border-bottom: 1px solid white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: -1px;
    height: 31px;
    padding: 9px 14px;
}

.tabs li.active a {
    color: black;
    text-decoration: none;
    border-bottom: none;
}