<div class="container">
  <h2><%=@user.name%> is playing <%=@deck.name%></h2>
  
  <%= @flashcard.question %>

  <form action = "/usr/round/<%=@deck.id%>"  method ="get">
  	<br>
  	<input type = "text" name = "user_input">
 		<input type = "submit" value = "Submit">
 	</form>
</div>