<div class="container">
  <h3> new round bro </h3>
  <h4>Deck: <%=@deck.name%></h4>
  <form method="get" action="/usr/round/<%=@deck.id%>">
    <input type="submit" value="play">
  </form>
  <form method="get" action="/usr/play">
    <input type="submit" value="back">
  <form>
</div>