<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <% if @name %>
  <p>Hello, <%= @name %>!</p>
  <% else %>
  <p> Hey there, stranger ;) </p>
  <% end %>


  <% if @name %>
  <a href="/logout">Logout</a>
  <% end %>

</div>
