<div class="container">
  <h1>Welcome to DRAGONSFUCKINGCARDS!!!!</h1>

  <% if @name %>
  <p>Hello, <%= @name %>!</p>
  <% else %>
  <p> Hey there, stranger ;) </p>
  <% end %>

  <p>New here? <br>
    Name yourself something rad: <a href="/register">Register</a></p>


  <a href="/logout">Logout</a>

</div>
