<div class="container">
  <h1>Welcome to DRAGONSFUCKINGCARDS!!!!</h1>

  <% if @current_user %>
  <p>Hello, <%= @current_user.name %>!</p>
  <% else %>
  <p> Hey there, stranger ;) </p>
  <% end %>

  <p>New here? <br>
    Name yourself something rad: <a href="/register">Register</a></p>

  <a href="/login">Login</a>
  <a href="/logout">Logout</a>

</div>

