<div class="container">
  <% if session[:user] %>
  <p>Hello, <%= session[:user].name %>!</p>
  <p> Ready to get your LEARN on?</p>
  <% else %>
  <p> Hey there, stranger ;) </p>
  <p>If you're new here, why don't you mosey on over to the Register button?
          Otherwise, feel free to log right in. You know what we're about.</p>
  <% end %>
</div>

