<div class="container">
  <h1>GET READY TO FUCK SOME CARDS, DRAGON!!!!</h1>

  <form action="/login" method="post">
    Username: <br>
    <input type="text" name="name"><br>
    Password: <br>
    <input type="password" name="password"><br><br>
    <input type="submit" value="Login">
  </form>

</div>