<div class="container">

  <h1>ONE OF US, ONE OF US</h1>

  <form action="/register" method="post">
    Username: <br>
    <input type="text" name="name"><br>
    Password: <br>
    <input type="password" name="password"><br>
    <br><input type="submit" value="Register">
  </form>

  <p>I changed my mind, <a href='/'>take me home.</a></p>


</div>